#d-arrow {
    font-size: 20px;
}
#user-icon {

}
.sign-in {
    border-right: 1px solid black;
}
.logo {
display: block;
    
}

.grid-container-white, .grid-container-white a {
    background-color: green;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    text-transform: uppercase;

}