
/*todo make the media query break to 766px*/

 html, body {
     font-family: "Trebuchet MS", Verdana, sans-serif;
    background-color: #696969;
     margin: 0;
}
.header-wrapper {
    background-color: black;
    display: flex;
    flex-direction: row;
    height: 13vh;
}#cross {
     height: 8vh;
    align-self: center;
 }
#name-wrapper {
    font-size: 2vh;
    display: flex;
    align-items: center;
    margin-left: 3vw;
    justify-content: space-between;
    width: 90vw;
}
.name {
    text-decoration: none;
    color: white;
   text-align: center;
}
#menu {
    display: none;
    flex-direction: column;
    width: 90vw;
    height: auto;
    background-color: #696969;
    position: absolute;
    justify-self: stretch;
    margin-top: 13vh;
    margin-left: 2.5vh;
    padding-bottom: 2vh;
    justify-items: center;

    /*todo figure out why the menu text is pushed all the way right*/
}

#menu > hr {
    width: 90%;
}
.menu-items {
    color: lightgray;
    font-size: 5vh;
    text-align: center;
    text-decoration: none;


}
#hamburger {
    height: 6vh;
    width: auto;
}
/*main body*/
#wrapper {
    background: #696969 url("../img/cross-background.jpg");
    height: 87vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#hero {
    color: white;
    font-size: 2vh;
}
#hero > h2 {
    font-size: 5vh;
    color: darkgrey;
}
#hero > p {
    background: rgba(204, 204, 204, 0.5);
    padding: .5vw;
}
#address {
    font-size: 2vh;
    text-align: center;
    color: darkgrey;
    display: flex;
    flex-direction: column;

 }
#address > h2 {
    color: white;
}
#address > p {
    width: 99.5%;
}

@media screen and (min-width:750px) {

    body {

    }

    .header-wrapper{
        display: none;
    }
    #wrapper {
        /*background-image: none;*/
        height: 100vh;
    }

    .name {
        display: flex;
    }
    #address {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 2vh;
        font-size: 2vh;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        justify-self: center;
        box-sizing: content-box;

    }
    #address > p {
        flex-grow: 1;
        align-self: flex-end;
        width: auto;


    }
    #time-box {
        flex-direction: column;
        align-items: stretch;
    }
    .times {

        flex-grow: 1;
    }

    #address > h2 {
        align-items: center;
        font-size: 4vh;
    }
    #email {
        display: none;
    }

    #menu {
        display: flex;
        flex-direction: column;
        width: 90vw;
        height: auto;
        background-color: #696969;
        position: absolute;
        justify-self: stretch;
        margin-top: 13vh;
        margin-left: 2.5vh;
        padding-bottom: 2vh;
    }
/*todo add the church name into the join us section and make it hidden mobile*/
}